{% extends 'base.html.twig' %}

{% block homestyles %}<link rel="stylesheet" href="{{ asset('css/home.css') }}">{% endblock %}

{% block main %}
    <!-- Home start -->
    <div class="row main__row d-flex justify-content-center">
        <main class="col-md-10 ml-sm-auto col-lg-10 px-4" role="main">
            <div class="home">
                <div class="wrapper">
                    <h1 class="home-title text-left">
                        НАДЕЖНЫЕ ПОМОЩНИКИ В УХОДЕ ЗА ВАШИМ ПИТОМЦЕМ
                    </h1>
                    <h1 class="home-text text-left">
                        Мы стремимся предложить лучшее лечение для вашего животного.
                    </h1>
                    <a href="{{ path('checkup_new') }}" class="btn btn-primary home-button"><span>Записаться на приём</span></a>
                </div>
            </div>
            <div class="home-footer">
                <div class="wrapper">
                    <h1 class="home-title text-center">
                        Категории предоставляемых услуг
                    </h1>
                    <div class="row home-services-list">
                        <div class="col-sm">
                            <div class="home-service">
                                ВАКЦИНАЦИЯ
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="home-service">
                                ДЕРМАТОЛОГИЯ
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="home-service">
                                ДИАГНОСТИКА
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="home-service">
                                КАРДИОЛОГИЯ
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="home-service">
                                ЧИПИРОВАНИЕ
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-primary home-services-button" href="{{ path('app_services_list') }}"><span>Стоимость услуг</span></a>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- Home end -->
{% endblock %}
